body {
    padding: 25px;
    padding-right: 25px;

}

h1 {

    font-family: input-serif, serif;

    font-weight: 700;

    font-style: normal;

    top: 20px;

    position: absolute;
}

h2 {


    font-family: input-serif, serif;

    font-weight: 400;

    font-style: italic;

    position: absolute;

    top: 70px;


}

p {

    font-family: input-serif, serif;

    font-weight: 400;

    font-style: normal;

    line-height: 30px;

    font-size: 125%;

    opacity: 50%;

    position: absolute;

    top: 140px;

    width: 425px;
}